{% extends "users/base.html" %}

{% block content %}
<h2>Edit Profile</h2>
<form method="POST">
    {% csrf_token %}
    <label>Name:</label>
    <input type="text" name="name" value="{{ customer.name }}"><br>

    <label>Username:</label>
    <input type="text" name="username" value="{{ customer.username }}"><br>

    <label>GST Number:</label>
    <input type="text" name="gst_number" value="{{ customer.gst_number }}"><br>

    <label>Pincode:</label>
    <input type="text" name="pincode" value="{{ customer.pincode }}"><br>
    <label for="location">Location</label>
    <select  name="location" id="location" class="form-control" style="max-width: 250px;">
    {% for route in routes %}
        <option value="{{ route.location }}" {% if customer.location == route.location %}selected{% endif %}>
            {{ route.location }} 
        </option>
    {% endfor %}
    </select>
    <br>
    

    <label>Address:</label>
    <textarea name="address">{{ customer.address }}</textarea><br>

    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}
